.claude
data-generator/generate
resources/references.json
.env
test/results.json
temporary-results
misc/participant-removal.sh
index.bin
my-solution/index.bin
target/
**/target/
test/results-local.json
.antigravitycli/

